@media (max-width: 426px) {

    .slogan,
    .slogan_mission > span {
        text-align: center;
        font-size: 20px;
    }

    .figure1 > img,
    
    .figure3 > img {
        width: 90%;
        height: auto;
        display: block;
        margin: 0 auto 20px;
    }
    .text_history1,
    .figure2 > img,
    .text_history2,
    .mission_text {
        width: 40%;
        margin: 0 auto 20px;
    }
    }

body{
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #415167;
    height: 100px;
}
.menu li {
    
    width: 140px;
    margin-bottom: 26px;
    margin-left: -4px;
    display: inline;
    margin: 20px;
    margin-top: 10px;
}
li .menu_href{
    /* text-decoration: none; */
    font-family: 'Nunito';
    font-weight: 200;
    font-size: 13px;
    color: #F9FBFF;
}
.menu{
    margin-top: 25px;
}
ul.menu{
    list-style-type: none;
}
ul.menu li:first-child {
    margin-bottom: 126px;
    margin-top: 40px;
    transition: initial;
}
a {
    color: #EDF0F5;
    text-decoration: none;
   
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
}
a:hover {
    background-size: 100% 5px;
    color: #d9d9d9;
}

.show-mobile-menu {
    display: block;
}

.logo_block > a > svg{
    width: 90px;
    height: auto;
    margin-left: 20px;
    margin-top:20px;
}
/* main block */
 .figure1  > img{
    width: 300px;
    height: auto;
    margin-left: 10%;
    margin-top: 50px;
}
.fgc1{
    margin-left: 10%;
}
.of_the_store{ 
    position: relative;
    background-color: #c7a17c;
    color: rgb(255, 255, 255) !important;
    z-index: 1;
}
.slogan span {
    position: relative;
    font-family: 'Montserrat';
    font-size: 64px;
    color: #415167;
    line-height: 68px;
    z-index: 3;
    padding: 0 19px 0 13px;
}
.slogan{
    margin-top: -550px;
    margin-left: 550px;
}
.text_history1{
    width: 600px;
    height: auto;
    margin-left: 570px;
    margin-top: 20px;
}

figcaption{
    font-family: 'Nunito';
    margin-left: 90px;
}
p{
    font-family: 'Nunito';
}
.figure2 > img{
    width: 600px;
    height: auto;
}
.figure2{
    margin-left: 47%;
}
.about_team{
    margin-top: 100px;
 
}
.text_history2{
    width: 400px;
    height: auto;
    margin-left: 90px;
    margin-top: -450px;
}
.our_mission span{
    position: relative;
    font-family: 'Montserrat';
    font-size: 64px;
    color: #415167;
    line-height: 68px;
    z-index: 3;
    padding: 0 19px 0 13px;
}
.mission_of_store{ 
    position: relative;
    background-color: #c7a17c;
    color: rgb(255, 255, 255) !important;
    z-index: 1;
}
.slogan_mission{
    margin-top: -400px;
    margin-left: 60px;
}
.figure3 > img{
    width: 560px;
    height: auto;
}
.figure3{
    margin-left: 50%;
    margin-top:70px ;
}

.mission_text{
    width: 500px;
    height: auto;
    margin-left: 90px;
    margin-top: 30px;
}
.figc3{
    margin-left: 25%;
}
@media (max-width:426px){
    main{
        align-items: center;
    }
    .text_history1{
        margin-left: 10%;
        width: 350px;
    }
    .figure2{
        margin-left: 10%;
    }
    .figure2 > img{
        width: 350px;
        height: auto;
    }
    .text_history2{
        margin-left: 10%;
        margin-top: 0;
        width: 350px;
    }
    .figure3{
        margin-left: 10%;
    }
    .figure3 > img{
        width: 350px;
        height: auto;
        
    }
    .figc2{
        margin-left: 15%;
    }
    .slogan_mission{
        margin-top: 0;
        margin-left: 10%;
        text-align: center;

    }
    .slogan_mission > span{
        font-size: 40px;
        

    }
    .mission_text{
        margin-left: 10%;
        margin-top: 0;
        width: 350px;
    }

}    

footer{
    flex-direction: row;
    background-color: #415167;
    margin-top: 60px;
    margin-left: -10px;
}
.footer_icon{
     text-align: center;
     margin-top: 30px;
     padding-top: 10px;

}
.footer_icon a{
    background-image:none;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
    padding: 20px;
}
footer p{
    text-align: center;
    color:#ffffff;
    font-family: 'Nunito';
}
.footer_copyright{
    color:#ffffff;
    text-align: center;
    font-family: 'Nunito';
    margin-top: 20px;
}
.footer_icon img {
    height: 30px;
    width: auto;
}

